.swiper-pagination-bullet-active {background: #111}
img.img-responsive.aridius_news-hover {
    opacity: 1;
}
.swiper-pagination-bullet {border: 1px solid;width:9px;height:9px;border-color:rgba(255,255,255,0.5);display:none}
.product-layoutmod:hover .swiper-pagination-bullet, .product-layoutcatnew:hover .swiper-pagination-bullet {display:inline-block}
@media screen and (max-width: 991px) {
.swiper-pagination-bullet-active {background: #111}
.swiper-pagination-bullet {border: 1px solid;width:8px;height:8px;border-color:rgba(255,255,255,0.5);display:inline-block}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 3px}
.swiper-container-horizontal>.swiper-pagination-bullets {bottom: 5px}
}
/*cookies*/
#cookies {position: fixed;bottom: 16px;z-index: 1050;width: 100%}
.cookies-button {height: 42px;border-radius: 4px;background-color: #ebebeb;border: none;font-size: 18px;font-weight: 400;text-align: center;padding: 0 15px}
.cookies-button:hover {background-color: #d7d7d7}
#cookies .container{align-items: center;margin: 0 auto;border-radius: 6px;box-shadow: 0 8px 32px -8px rgba(0,0,0,.4);background-color: #fff;padding: 15px 15px 15px 25px}
@media screen and (max-width: 991px) {
#cookies{right: 16px;width: calc(100% - 32px)}
.cookies-button {float:right;margin-top: 7px}
}
/*callback*/
.callback textarea{resize:vertical}
.callback{max-width:500px;margin:0 auto;background:#fff}
.callback2{padding:15px 25px}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.callbackbor{border-bottom:1px solid #F5F5F5}
.callback{position:relative;background:#FFF!important}
.formcallback{padding-left:15px;padding-right:15px}
.formcallback .form-group{margin-bottom:1px}
.btnfast{margin:0 auto;display:block}
.callback .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.callback .mfp-close span{color:red!important}
.callback123 textarea{resize:vertical}
.callback123{max-width:500px;margin:0 auto;background:#fff;padding:15px 25px;position:relative;background:#FFF!important}
.callback123 .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.callback123 .mfp-close span{color:red!important}
/*category_accordion*/
.box-category{margin-top:-5px;padding-left:14px;padding-right:24px!important}
.box-category ul{list-style:none;margin:0;padding:0}
.box-category > ul > li{padding:8px 22px 8px 0}
.box-category > ul > li ul{display:none}
.box-category > ul > li a.active{font-weight:500}
.box-category > ul > li a{color:#727272;font-size:16px;text-transform:uppercase;line-height:25px}
.box-category > ul > li a.active + ul{display:block}
.box-category > ul > li ul > li{padding:6px 6px 0 15px}
.box-category > ul > li ul > li > a{color:#727272;display:block;font-size:14px}
.box-category > ul > li ul > li > a.active{font-weight:500}
.box-category .accordion li.dcjq-parent-li{position:relative}
.box-category .accordion li.dcjq-parent-li .dcjq-icon{float:right;width:8px;position:absolute;top:8px;right:-12px;background:url(/catalog/view/theme/modern/image/plus.png) no-repeat 0 center;cursor:pointer}
.box-category .accordion li.dcjq-parent-li .dcjq-icon:hover{background:url(/catalog/view/theme/modern/image/plus.png) no-repeat 0 center}
.box-category .accordion li.dcjq-parent-li > a + .dcjq-icon{display:block;width:8px;background:url(/catalog/view/theme/modern/image/plus.png) no-repeat 0 center}
.box-category .accordion li.dcjq-parent-li > a.active + .dcjq-icon{display:block;width:8px;background:url(/catalog/view/theme/modern/image/minus.png) no-repeat 0 center}
.box-category .accordion li > a + .dcjq-icon{display:none}
.box-category .accordion li > a.active + .dcjq-icon{display:none}
@media (min-width: 768px) and (max-width: 992px) {
.box-category{padding-left:0!important}
.box-category > ul > li a{font-size:13px!important}
}
.carcat{background:#555;padding:0 5px}
.carcat2{background:#555;padding:0 7px}
.carcat-arrow{color:#fff}
.carcat-arrow2{color:#fff;position:relative;left:1px}
@media (min-width: 1200px) and (max-width: 1599px) {
.box-category > ul > li a{font-size:14px}
.box-category > ul > li ul > li > a{font-size:12px}
}
@media (min-width: 992px) and (max-width: 1199px) {
.box-category > ul > li a{font-size:12px}
.box-category > ul > li ul > li > a{font-size:11px}
.box-category > ul > li{padding:8px 5px 8px 0}
}
/*catwall*/
.linksister a{font-size:16px;color:#777}
.catwall .product-thumbcw{display:inline-block;float:left}
.namelink{padding:10px 0 10px 20px;position:relative}
.namelink a:hover{color:#51473c}
.rightwallchild{margin-left:22px}
.rightwallchild li{margin-bottom:8px}
.linkchild{text-decoration:none;font-weight:700;font-size:14px;color:#777;text-transform:uppercase}
.list-unstyled li a{color:#777}
.rightwallchild li a{display:block;margin-bottom:8px}
.catwall .list-unstyled li span a:hover{text-decoration:underline}
.catwall .swiper-slide {text-align: left!important}
@media screen and (max-width: 991px) {
.catwall .block_catwall:nth-child(2n+3){clear:left}
.block_catwall {padding-left: 0;padding-right: 0}
.linksister a{font-size:13px}
}
@media (min-width:992px) and (max-width: 1199px) {
.catwall .block_catwall:nth-child(2n+3){clear:left}
}
@media screen and (min-width: 1200px) {
.catwall .block_catwall:nth-child(3n+4){clear:left}
}
@media (min-width: 992px) and (max-width: 1599px) {
.linkchild h4 {font-size:15px}
}
/*faq*/
.panel-group .panel{border-radius:0;box-shadow:none;border-color:#EEE}
.panel-default > .panel-heading{padding:0;border-radius:0;color:#868583;background-color:#FAFAFA;border-color:#EEE}
.panel-title{font-size:14px}
.panel-title > a{display:block;padding:15px;text-decoration:none;color:#868583}
.more-less{float:right;font-size:11px;color:#868583}
/*faq_layout*/
.panel-group .panel{border-radius:0;box-shadow:none;border-color:#EEE}
.panel-default > .panel-heading{padding:0;border-radius:0;color:#868583;background-color:#FAFAFA;border-color:#EEE}
.panel-title{font-size:14px}
.panel-title > a{display:block;padding:15px;text-decoration:none;color:#868583}
.more-less{float:right;font-size:11px;color:#868583}
/*letters*/
.letter_margin{margin-top:2px}
.head_letter{font-size:27px;text-transform:uppercase;font-weight:500;margin-right:50px;margin-left:20px;top:5px;position:relative}
.button_email{position:absolute;right:0;z-index:9;height:50px;border-radius:50px;border:2px solid #fff;font-size:14px!important;font-weight:500;color:#fff}
.textdanger{color:red}
.textsuccess{color:green}
.mailletters .btn-lg{font-size:12px;line-height:12px;padding:9px}
.mailletters .input-lg{height:32px;line-height:20px;padding:0 10px}
#mail_letters{border-radius:60px;height:50px;font-size:14px}
.inline_email{display:inline}
@media (min-width: 1600px) {
.message_email,.message_compare,.message_success{margin-left:44%}
}
@media (min-width: 1200px) and (max-width: 1599px) {
.head_letter{font-size:23px;margin-right:20px;top:3px}
.message_email,.message_compare,.message_success{margin-left:47%}
}
@media (min-width: 992px) and (max-width: 1199px) {
.head_letter{font-size:18px;margin-right:20px;top:3px}
.message_email,.message_compare,.message_success{margin-left:49%}
}
@media (min-width: 768px) and (max-width: 991px) {
.head_letter{font-size:22px;margin-right:20px;top:3px}
.all_mailblock{text-align:center}
.message_email,.message_compare,.message_success{margin-left:40%}
}
@media (max-width: 767px) {
.message_email,.message_compare,.message_success{margin-left:3%}
.head_letter{display:none}
.all_mailblock{text-align:center}
.inline_email{margin-right:10px}
.mailletters{width:100%}
}
/*liveseach*/
.search-price{color:#868583;float:left;font-size:14px;font-weight:700}
.search-price2{color:#f3652a;font-size:14px;font-weight:400;margin-left:5px;text-decoration:line-through;display:inline}
.search-thumb{float:left}
.search-name{color:#868583;float:left;font-weight:700}
.search-container{margin-left:50px}
.search-container2{padding:5px}
.search-container2:hover{background:#F7F7F9}
.search-more{margin-left:50px;cursor:pointer}
.search-all{color:#777;margin-left:20px;cursor:pointer;font-size:14px}
.search-all:hover{text-decoration:underline;color:#ceb478}
.search-special{float:left;color:#868583;font-size:17px;font-weight:700;margin-left:5px}
#search .dropdown-menu{min-width:248px}
/*news*/
.posted-aridius_news{color:#fff}
.hide-news i{padding-left:6px;color:#fff}
.aridius_news-layout2{border:1px solid #A2B8A4}
.aridius_news_h4{padding-right:6px!important;padding-left:6px!important}
.aridius_news_h4 h4{margin-top:25px; font-family: Museo Sans Cyrl; text-transform: none;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 25px;}
.pull-center{font-size:16px;text-transform:uppercase;text-decoration:none;position:relative;padding-top:32px}
.aridius_news_margin{padding-left:20px}
.pull-center a{font-family: Museo Sans Cyrl,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;color: #956D84!important;}
.description-aridius_news p {
    font-family: Museo Sans Cyrl;
font-style: normal;
font-weight: 250;
font-size: 16px;
line-height: 18px;
}
.aridius_news_h4 a:hover{color:#fff}
.pull-center a:hover{text-decoration:underline}
.aridius_news-hover:hover{opacity:.8}
.grid-aridius_news p{color:#fff;margin-top:12px;text-align:left}
.read-more a{color:#fff;display:block;position:relative;text-align:left;font-size:15px;text-decoration:underline}
.read-more a:hover{text-decoration:underline}
.aridius_news-hover{display:inline-block}
.grid-aridius_news{position:relative;overflow:hidden;height:auto;text-align:center;cursor:pointer;padding:0 6px}
.item-title	a{color:#fff}
.description-aridius_news p{color:#fff}
.item-title{height:50px}
.item-title a:hover{color:#ceb478}
.grouph{padding:1px}
.pad img{padding:0 30px 0 0 !important}
.caption-left{text-align:left!important;padding:0!important}
.morecolor:hover{color:#23527c}
.all_new{padding-right:15px;text-align: center;}
.video{height:0;position:relative;padding-bottom:54%}
.video iframe{position:absolute;left:0;top:0;width:100%;height:100%}
@media (min-width: 1200px) and (max-width: 1599px) {
.hide-news:nth-child(5){display:none}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hide-news:nth-child(5){display:none}
}
@media (max-width: 991px) {
.hide-news:nth-child(4){display:none}
.hide-news:nth-child(5){display:none}
}
@media (max-width: 487px) {
.hide-news:nth-child(3){display:none}
.hide-news:nth-child(4){display:none}
.hide-news:nth-child(5){display:none}
.hide-news{width:100%!important}
}
@media (max-width: 1599px) {
.aridius_news_h4{padding-left:0}
}
/*news_category*/
.box-category{margin-top:-5px;padding-left:14px;padding-right:14px}
.box-category ul{list-style:none;margin:0;padding:0}
.box-category > ul > li{padding:8px 22px 8px 0}
.box-category > ul > li ul{display:none}
.box-category > ul > li a.active{font-weight:500}
.box-category > ul > li > a{color:#727272;font-size:18px;text-transform:uppercase;line-height:25px}
.box-category > ul > li a.active + ul{display:block}
.box-category > ul > li ul > li{padding:6px 6px 0 15px}
.box-category > ul > li ul > li > a{color:#727272;display:block;font-size:14px}
.box-category > ul > li ul > li > a.active{font-weight:500}
h4.hstyle{min-height:35px;margin-bottom:2px}
h4.hstyle a:hover{color:#3285B4}
@media (min-width: 1200px) and (max-width: 1599px) {
.box-category > ul > li a{font-size:14px}
.box-category > ul > li ul > li > a{font-size:12px}
}
@media (min-width: 992px) and (max-width: 1199px) {
.box-category > ul > li a{font-size:12px}
.box-category > ul > li ul > li > a{font-size:11px}
.box-category > ul > li{padding:8px 5px 8px 0}
}
/*popupmail*/
.mailModal textarea{resize:vertical}
.mailModal{max-width:600px;margin:0 auto;background:#fff}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.mailModal .callbackbor{border-bottom:1px solid #F5F5F5}
.mailModal{position:relative;background:#FFF!important}
.mailModal2 .formcallback{padding-left:15px;padding-right:15px}
.mailModal2 .formcallback .form-group{margin-bottom:1px}
.mailModal .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.mailModal .mfp-close span{color:red!important}
.textdanger{color:#FFF}
.textsuccess{color:#FFF}
.mailletters-popup .textdanger{color:#000}
.mailletters-popup .textsuccess{color:#000}
.mailletters2 .btn-lg,.mailletters-popup .btn-lg{font-size:12px;line-height:12px;padding:10px}
.mailletters2 .input-lg,.mailletters-popup .input-lg{height:32px;line-height:20px;padding:0 10px}
.message_email_popup,.message_compare_popup,.message_success_popup{position:absolute;bottom:105%;left:1px;padding:0 5px;z-index:100}
.mailModal2 form{position:absolute;width:70%;top:55%;left:15%}
#mail_letters_popup{height:41px}
.aridiusmailModal-success .mailModal2{padding:15px 25px}
/*popuptext*/
.mailModal3{padding:15px 25px}
.mailModal textarea{resize:vertical}
.mailModal{max-width:600px;margin:0 auto;background:#fff}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.mailModal .callbackbor{border-bottom:1px solid #F5F5F5}
.mailModal{position:relative;background:#FFF!important}
.mailModal2 .formcallback{padding-left:15px;padding-right:15px}
.mailModal2 .formcallback .form-group{margin-bottom:1px}
.mailModal .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.mailModal .mfp-close span{color:red!important}
.textdanger{color:#FFF}
.textsuccess{color:#FFF}
.mailletters-popup .textdanger{color:#000}
.mailletters-popup .textsuccess{color:#000}
.mailletters2 .btn-lg,.mailletters-popup .btn-lg{font-size:12px;line-height:12px;padding:10px}
.mailletters2 .input-lg,.mailletters-popup .input-lg{height:32px;line-height:20px;padding:0 10px}
.message_email_popup,.message_compare_popup,.message_success_popup{position:absolute;bottom:105%;left:1px;padding:0 5px;z-index:100}
.mailModal2 form{position:absolute;width:70%;top:55%;left:15%}
#mail_letters_popup{height:41px}
.aridiusmailModal-success .mailModal2{padding:15px 25px}
/*review_category*/
.avr{text-transform:uppercase;text-align:center;margin-bottom: 5px}
.rev_author{font-size:20px;padding-bottom:7px;font-weight:500}
.avr_rating{width:56px;height:56px;border-radius:50%;line-height:53px;box-shadow: 1px 1.732px 10px 0 #555;display:block;margin:auto;font-size:28px;text-align:center;font-weight:500;color:#fff;border:2px solid #fff}
.avr_rating2{text-align:center;margin-top: 5px;margin-bottom: 5px}
.avr_rating2 .glyphicon-star-empty, .avr_rating2 .glyphicon-star{font-size:25px}
.rev_rating .glyphicon-star-empty, .rev_rating .glyphicon-star{font-size:16px}
.rev_rating{margin-bottom:6px;margin-top:-5px}
.avr_sum{text-align:center;margin-top:5px;font-size:17px}
.avr_sum a{color:#A2B8A4}
.colorhr{color:#D0B77D;font-weight:500}
.review-thumb{min-height:160px;padding:10px 15px 9px;cursor:pointer}
.review_widget{border:none}
.rev-widg-button-next{right:-15px}
.right_text{text-align: right}
.go_text{font-size: 15px;text-transform: uppercase}
.avr_all{margin-bottom: 10px}
/*store_review*/
#reviewst .fa-stack{width:1em}
.review-parent{width:95%;float:right}
.module-aridius_store_review .block-contacts{width:282px}
.rating_avr{margin-top:24px;margin-bottom:7px}
@media(max-width:400px) {
.rating_avrsm{display:block}
}
@media (min-width: 1200px) and (max-width: 1599px) {
.avr_rating2 .glyphicon-star-empty, .avr_rating2 .glyphicon-star{font-size:23px}
.avr{font-size: 17px}
}
@media (min-width: 992px) and (max-width: 1199px) {
.avr_rating2 .glyphicon-star-empty, .avr_rating2 .glyphicon-star{font-size:18px}
.avr{font-size: 13px}
.avr_sum {font-size: 15px}
}
/*fastorder*/
.fastorder textarea{resize:vertical}
.fastorder{max-width:500px;margin:0 auto;background:#fff}
.fastorder2{padding:15px 25px}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.name-product{color:#444;font-weight:500;font-size:26px;margin-bottom:17px;line-height:28px}
.fastorderf{border-bottom:1px solid #F5F5F5}
.fastorder{position:relative;background:#FFF!important}
.formfastorder{padding-left:15px;padding-right:15px}
.formfastorder .form-group{margin-bottom:1px}
.btnfast{margin:0 auto;display:block}
.priceall{text-align:center;padding-top:12px}
.priceold-product{color:#000;font-size:26px;font-weight:400;display:inline}
.price-product{color:#E12C31;font-size:15px;font-weight:400;text-decoration:line-through;line-height:12px;vertical-align:7px}
.fastorder .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.fastorder .mfp-close span{color:red!important}
/*instock*/
.instock textarea{resize:vertical}
.instock{max-width:500px;margin:0 auto;background:#fff}
.instock2{padding:15px 25px}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.name-product{color:#444;font-weight:500;font-size:26px;margin-bottom:17px;line-height:28px}
.instockf{border-bottom:1px solid #F5F5F5}
.instock{position:relative;background:#FFF!important}
.forminstock{padding-left:15px;padding-right:15px}
.forminstock .form-group{margin-bottom:1px}
.btnfast{margin:0 auto;display:block}
.priceall{text-align:center;padding-top:12px}
.priceold-product{color:#000;font-size:26px;font-weight:400;display:inline}
.price-product{color:#E12C31;font-size:15px;font-weight:400;text-decoration:line-through;line-height:12px;vertical-align:7px}
.instock .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.instock .mfp-close span{color:red!important}
/*undersell*/
.undersell textarea{resize:vertical}
.undersell{max-width:500px;margin:0 auto;background:#fff}
.undersell2{padding:15px 25px}
.name-popup{color:#444;font-size:15px;line-height:33px;padding:0 0 0 15px}
.name-product{color:#444;font-weight:500;font-size:26px;margin-bottom:17px;line-height:28px}
.undersellf{border-bottom:1px solid #F5F5F5}
.undersell{position:relative;background:#FFF!important}
.formundersell{padding-left:15px;padding-right:15px}
.formundersell .form-group{margin-bottom:1px}
.btnfast{margin:0 auto;display:block}
.priceall{text-align:center;padding-top:12px}
.priceold-product{color:#000;font-size:26px;font-weight:400;display:inline}
.price-product{color:#E12C31;font-size:15px;font-weight:400;text-decoration:line-through;line-height:12px;vertical-align:7px}
.undersell .mfp-close{background:#F0F0F0!important;height:35px!important;cursor:pointer!important;line-height:35px!important;width:35px!important}
.undersell .mfp-close span{color:red!important}
/*rating*/
.symbol{display:inline-block;border-radius:50%;border:5px double #fff;width:30px;height:30px}
.symbol-empty{background-color:#ccc}
.symbol-filled{background-color:#000}