<div id="cookies">
<div class="fix_scroll">
<div class="row row-flex container">
<div class="col-sm-10 col-xs-12">
{{ aridius_cookies_description }}
</div>
<div class="col-sm-2 col-xs-12">
<button class="cookies-button" onclick="document.cookie ='cookies_proof=true';$('#cookies').remove();">{{ cookies_button }}</button>
</div>
</div>
</div>
</div>





