<div class="fastorder">
<div class="fastorderf">
<div class="name-popup">{{ heading_title_fastorder }}</div>
</div>
<div class="aridiusfastorder-success">
<div class="fastorder2">
<div class="row">
<div class="col-xs-12">
{{ aridiusfastorder_description2 }} 
</div>
</div>
</div>
</div>
</div>
